*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html, body {
    border: 0;
}

body {
    font-family: 'Times New Roman';
    font-size: 1.8rem;
}

table, td, th {
    border: 1px solid black;
}

table tr:first-child{
    background-color: rgb(27, 29, 124);
    color: #fff;
}

table tr:nth-child(2n + 3){
    background-color: #b9b9b9;
}

table {
    font-size: 2,4rem;
    border-collapse: separate;
}

ol {
        display: block;
        list-style-type: decimal;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 2.4rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2.4rem;
  }

.box{
    height: 100px;
    width: 200px;
    border: 1px solid #555;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(38, 21, 131);
    font-size: 4.4rem;
    font-weight: 900;
    text-transform: capitalize;
    /* font-style: oblique; */
    text-align: center;
    font-family: "Roboto", Arial, cursive;
}
  
      
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", Arial, cursive;
}

h2{
    font-size: 3.4rem;
    /* font-style: oblique; */
    text-align: left;
}


p{
    font-size: 18px;
    text-align: justify;

}

.bg-img{
    height: 700px;
    width: 100%;
    background-color: #555;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}